
// Globales
html {
    min-height: 100%;
    position: relative;
  }

  body {
    margin: 0;
    margin-bottom: 40px;
  }

  footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }

// Particulares

/*Banner*/
.bg-primary-blue .navbar-brand{
    color: white;
    font-family: $font-family-sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

nav{
    background-color: $primary-blue;
}

/*Carrusel*/

.owl-carousel .owl-stage { display: flex; }
.card {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}
.card-body {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Navegacion */
.icono {
    width: 8px;
}

.icono-g {
    width: 40px;
}

.navbar-light  {
    .navbar-nav {
        .nav-link{
            color: #FFF;
            font-size: 1.4rem;
                &:focus,
                &:hover {
                    color: #FFF;
            }
        }
    }
}

.titulo-categoria {
    font-family: 'Cabin', sans-serif;
    color: #333;
    font-size: 1.8rem;
    border-bottom: 3px solid #ED4646 !important;
    display: inline-block;
    padding-bottom: .5rem;
    padding-right: 2rem;
}
.btn-buapp,
.btn-buapp:hover {
    background-color: #ED4646 !important;
    border: none;
}

.categorias-bg {
    background-color: #fff;
    .nav-link {
        color: #222!important;
        display: inline-block;
        padding-top: .5rem;
        padding-bottom: .5rem;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        font-size: 1.2rem!important;
        text-transform: uppercase;
        font-weight: bold;
        &:before, &:after {
            content: '';
            position: absolute;
            transition: transform .5s ease;
        }
        &:before {
          left: 0;
          bottom: 0;
          width: 100%;
          height: 4px;
          background: $primary-blue;
          transform:  translateX(-100%);
        }
        &:hover:before {
          transform:  translateX(0);
        }
    }
}
/* Input transparente */

.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
 }

 /* Formula edit Alumno */

 .header {
    color: $secondary-blue;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

/* Hero */
.hero-categorias {
    background-image: linear-gradient(to bottom, rgba(3, 3, 3, 0.500), rgba(12, 11, 11, 0.571)),
url('../../public/images/fondo.jpg');
    height:45rem;
    background-size: cover;
    background-position: top center;
}

.texto-buscar {
        font-size: 1.4rem;
        color: #FFF;
}

// Utilidades

.bg-primary-blue{
    background-color: $primary-blue;
}

.bg-secondary-blue{
    background-color: $secondary-blue;
}

.text-primary-blue{
    color:$primary-blue;
}

.text-secondary-blue {
    color:$secondary-blue;
}

.font-size-14{
    font-size: 14;
}

.area-fgu{
    background-color: yellow; 
}

