
html,
body{
width:100%;
overflow-x:hidden;
}

#ad{
    margin-left: 10xp;
}

.icono{

    height: 25px;
    width: 25px;
}

.iconop{

    height: 35px;
    width: 35px;
}

.icono-grande{

    height: 40px;
    width: 40px;
}



